In [39]:
#y = dependent variable = spending score
#x1 = independent variable = Age
#x2 = independent variable = Salary

In [40]:
#Importing the libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [41]:
#Reading the dataset
dataset = pd.read_csv("Regression_Dataset.csv")

In [42]:
dataset.head()

   CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0         124    Male   39                  69                      91
1         126  Female   31                  70                      77
2         128    Male   40                  71                      95
3         130    Male   38                  71                      75
4         132    Male   39                  71                      75

In [43]:
#Equation =>
# spending score = B0 + (B1*Age) + (B2*Salary) + e

In [71]:
#Setting the value for X and Y
x = dataset[['Age','Annual Income (k$)']]
y = dataset['Spending Score (1-100)']

In [72]:
#Splitting the dataset
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3,random_state = 100)

In [73]:
#Fitting the Multiple Linear Regression model
mlr = LinearRegression()  
mlr.fit(x_train, y_train)

LinearRegression()

In [74]:
#Intercept and Coefficient
print("Intercept: ", mlr.intercept_)
print("Coefficients:")
list(zip(x, mlr.coef_))

Intercept:  69.50435231182293
Coefficients:

[('Age', 0.3856347970743473), ('Annual Income (k$)', -0.010620535568354787)]

In [75]:
# spending score = 69.50435231182293 + (0.3856347970743473 * Age) + (-0.010620535568354787 * annual_income)

#y=69.50435231182293+(0.3856347970743473*x1)+(-0.010620535568354787*x2)

In [76]:
#Prediction of test set
y_pred_mlr= mlr.predict(x_test)
#Predicted values
print("Prediction for test set: {}".format(y_pred_mlr))

Prediction for test set: [80.24499445 79.84873912 80.50647834 83.81129244 79.61838285 79.91246233
 80.13878909 81.06936672 80.0219632  82.29328984 81.31693456 81.72710594]

In [77]:
#Actual value and the predicted value
mlr_diff = pd.DataFrame({'Actual value': y_test, 'Predicted value': y_pred_mlr})
mlr_diff.head()

    Actual value  Predicted value
18            73        80.244994
19            83        79.848739
37            74        80.506478
0             91        83.811292
38            83        79.618383

In [78]:
#Model Evaluation
from sklearn import metrics
meanAbErr = metrics.mean_absolute_error(y_test, y_pred_mlr)
meanSqErr = metrics.mean_squared_error(y_test, y_pred_mlr)
rootMeanSqErr = np.sqrt(metrics.mean_squared_error(y_test, y_pred_mlr))
print('R squared: {:.2f}'.format(mlr.score(x,y)*100))
print('Mean Absolute Error:', meanAbErr)
print('Mean Square Error:', meanSqErr)
print('Root Mean Square Error:', rootMeanSqErr)

R squared: 0.74
Mean Absolute Error: 7.13217433423348
Mean Square Error: 68.58230326557373
Root Mean Square Error: 8.28144330811808

In [ ]:
#R is the amount of points that fit to ur model .. so only 0.74 percent points fit the model which is very less